# Canonicalize author identities for `git shortlog`, `git log`, blame, etc.
# One canonical identity: renebd421 <rene@bds421.com>.
# Format: Canonical Name <canonical-email> [Old Name] <commit-email-to-map>
renebd421 <rene@bds421.com> <reneheinzl@macbookpro.lan>
renebd421 <rene@bds421.com> Rene Heinzl <rene@bds421.com>
